spring:
  datasource:
    url: jdbc:h2:mem:notificationsdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true

server:
  port: 8080

logging:
  level:
    root: INFO
    dev.lrcode.notifications: DEBUG
